{% extends 'base.html.twig' %}

{% block title %}Yakoi | Mon compte{% endblock %}

{% block body %}
    <header class="header-product" style="background: url('https://www.raphaelbeaudet.fr/wp-content/uploads/2021/06/Informatique.svg') no-repeat;">
        <h1>{{ user.firstname }}</h1>
    </header>
    <div class="container product-page">
        <div class="row">
            <div class="col my-5">
                <p class="text-center"><a class="btn btn-pink" href="{{ path("app_logout") }}">Se déconnecter</a></p>
            </div>
        </div>
    </div>
    <div class="container last-container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item back">
                            <a class="nav-link" href="{{ path("home_customer") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="{{ path("home_customer") }}#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("account") }}"><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}