{% extends 'base.html.twig' %}

{% block title %}Yakoi | Produits par catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <a href="{{ path('home_customer') }}"><img src="{{ asset('/public/images/logo-yakoa.svg') }}" class="w-100" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2 class="h4">
                {% for onecategory in allthecategories %}
                    {% if onecategory.id == categoryid %}
                    {{ onecategory.name }}
                    {% endif %}
                {% endfor %}
            </h2>
            <div class="best-products">
                {% for product in products %}
                    {% if product.Category.id == categoryid %}
                    <a href="{{ path('product', { id: product.id }) }}">
                        <div class="card-category {% if product.category.id == 6 %} pink-category {% endif %} {% if product.category.id == 3 %} red-category {% endif %} {% if product.category.id == 7 %} blue-category {% endif %} {% if product.category.id == 8 %} yellow-category {% endif %} {% if product.category.id == 9 %} green-category {% endif %} mt-3">
                            <h3>{{ product.name }}</h3>
                            <img src="{{ product.image }}" alt="Lave linge">
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container last-container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("home_customer") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("account") }}"><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}