{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <a href="{{ path('home_customer') }}"><img src="{{ asset('/public/images/logo-yakoa.svg') }}" class="w-100" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <input class="form-control bg-light my-3 mx-auto" list="datalistOptions" id="exampleDataList" placeholder="Rechercher">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
            <h2 class="h4">Sélection du mois</h2>
            <div class="best-products">
                <div class="card-category pink-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                    <img src="https://www.raphaelbeaudet.fr/photos-partiel/machine-a-laver-petite.png" alt="Lave linge">
                </div>
                <div class="card-category green-category mt-3 product2">
                    <h3>Réfrigérateur combiné No Frost</h3>
                    <img src="https://www.raphaelbeaudet.fr/photos-partiel/MCSA02948015_J1502_2264417_KGN39HIEP_def%201.png" alt="Frigo">
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
            </div>
            <h2 class="h4 mt-3">Catégories</h2>
            <div class="best-products">
                <div class="card-category blue-category mt-3 product3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                    <img src="https://www.raphaelbeaudet.fr/photos-partiel/fr-rs8000nc--h-389383-rs6ha8880s9-ef-447035632%201.png" alt="">
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                    <img src="https://www.raphaelbeaudet.fr/photos-partiel/fr-uhdtv-ru7305-ue65ru7305kxxc-frontblack-151032386%201.png" alt="TV">
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>                <div class="card-category blue-category mt-3">
                    <h3>Lave-linge Serie 8 avec i-DOS</h3>
                </div>
                <div class="card-category yellow-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
                <div class="card-category red-category mt-3">
                    <h3>Réfrigérateur combiné No Frost</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container last-container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("home_customer") }}"><img src="{{ asset("/public/images/icons/Home.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}