{% extends 'base.html.twig' %}

{% block title %}Yakoi | Administrateur | Catégorie{% endblock %}

{% block body %}
    <div class="admin-area w-100">
        <div class="container container-table container-form">
            <h1 class="h3 mb-3 font-weight-normal text-center fw-bold">Gestion catégories</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <th scope="row">{{ category.id }}</th>
                    <td>{{ category.name }}</td>
                    <td><a href="{{ path('delete_category', { id: category.id }) }}">Supprimer</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path("add_category") }}" class="btn btn-grey mt-4">Ajouter catégorie</a>
            <a href="{{ path("admin") }}" class="btn btn-grey mt-4">Retour Admin</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item back">
                            <a class="nav-link" href="{{ path("admin") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="{{ path("home_customer") }}#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item back">
                            <a class="nav-link" href="{{ path("home_customer") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="{{ path("home_customer") }}#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
