{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="admin-area new-product-admin w-100">
        <div class="container container-form">
            <h1 class="h3 mb-3 font-weight-normal text-center fw-bold">Ajouter un nouveau produit</h1>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.note) }}
                {{ form_row(form.description) }}
                {{ form_row(form.reparabilite) }}
                {{ form_row(form.coutenergetique) }}
                {{ form_row(form.country) }}
                {{ form_row(form.brand) }}
                {{ form_row(form.Category) }}
                {{ form_row(form.image) }}
                <button type="submit" class="btn btn-grey mt-4">Ajouter le produit</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item back">
                            <a class="nav-link" href="{{ path("admin") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="{{ path("home_customer") }}#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand bg-light navbar-light w-75">
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item back">
                            <a class="nav-link" href="{{ path("admin") }}"><img src="{{ asset("/public/images/icons/back.svg") }}" alt="House icon"></a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link" href="{{ path("home_customer") }}#exampleDataList"><img src="{{ asset("/public/images/icons/Search.svg") }}" alt="Search icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><img src="{{ asset("/public/images/icons/User_cicrle.svg") }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
